name: Sync chatgpt/googlegpt/ to KudoAI/googlegpt/greasemonkey/ & adamlui/ai-web-extensions/googlegpt/greasemonkey/

on:
  push:
    branches: [master]
    paths: [chatgpt/googlegpt/**]

jobs:
  build:
    if: (github.repository == 'adamlui/userscripts') && (github.event.commits[0].committer.username != 'kudo-sync-bot')
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      TZ: PST8PDT

    steps:

      - name: Checkout adamlui/userscripts
        uses: actions/checkout@v6.0.1
        with:
          path: adamlui/userscripts

      - name: Checkout KudoAI/googlegpt
        uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.REPO_SYNC_PAT }}
          repository: KudoAI/googlegpt
          path: KudoAI/googlegpt

      - name: Checkout adamlui/ai-web-extensions
        uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.REPO_SYNC_PAT }}
          repository: adamlui/ai-web-extensions
          path: adamlui/ai-web-extensions

      - name: Sync docs/ to KudoAI/googlegpt/docs/ & adamlui/ai-web-extensions/googlegpt/docs/
        run: |
          cp -r -f -v \
            ${{ github.workspace }}/adamlui/userscripts/chatgpt/googlegpt/docs \
            ${{ github.workspace }}/KudoAI/googlegpt/
          cp -r -f -v \
            ${{ github.workspace }}/adamlui/userscripts/chatgpt/googlegpt/docs \
            ${{ github.workspace }}/adamlui/ai-web-extensions/googlegpt/

      - name: Sync chatgpt/googlegpt/ to KudoAI/googlegpt/greasemonkey/
        run: |
          rsync -avhc --delete \
            ${{ github.workspace }}/adamlui/userscripts/chatgpt/googlegpt/ \
            ${{ github.workspace }}/KudoAI/googlegpt/greasemonkey/

      - name: Sync chatgpt/googlegpt/ to adamlui/ai-web-extensions/googlegpt/greasemonkey/
        run: |
          rsync -avhc --delete \
            ${{ github.workspace }}/adamlui/userscripts/chatgpt/googlegpt/ \
            ${{ github.workspace }}/adamlui/ai-web-extensions/googlegpt/greasemonkey/

      - name: Escape backticks in commit msg
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          DELIM="EOF_$(uuidgen)"
          echo "ESCAPED_MSG<<$DELIM" >> "$GITHUB_ENV"
          echo "$COMMIT_MSG" | sed 's/`/\`/g' >> "$GITHUB_ENV"
          echo "$DELIM" >> "$GITHUB_ENV"

      - name: Config committer
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PRIVATE_ID: ${{ secrets.GPG_PRIVATE_ID }}
        run: |
          gpg --batch --import <(echo "$GPG_PRIVATE_KEY")
          git config --global commit.gpgsign true
          git config --global user.name "kudo-sync-bot"
          git config --global user.email "auto-sync@kudoai.com"
          git config --global user.signingkey "$GPG_PRIVATE_ID"

      - name: Push changes to KudoAI/googlegpt
        run: |
          cd ${{ github.workspace }}/KudoAI/googlegpt
          git add .
          git commit -n -m "$ESCAPED_MSG ↞ [auto-sync from https://github.com/adamlui/userscripts/tree/master/chatgpt/googlegpt]" || true
          git push

      - name: Push changes to adamlui/ai-web-extensions
        run: |
          cd ${{ github.workspace }}/adamlui/ai-web-extensions
          git add .
          git commit -n -m "$ESCAPED_MSG ↞ [auto-sync from https://github.com/adamlui/userscripts/tree/master/chatgpt/googlegpt]" || true
          git push
