name: Sync chatgpt/googlegpt/ to (KudoAI/googlegpt/greasemonkey/ && adamlui/chatgpt-apps/googlegpt/greasemonkey/)

on:
  push:
    branches: [master]
    paths: [chatgpt/googlegpt/**]

jobs:
  build:
    if: (github.repository == 'adamlui/userscripts') && (github.event.commits[0].committer.username != 'kudo-sync-bot')
    runs-on: ubuntu-latest
    env:
      GIT_COMMITTER_NAME: kudo-sync-bot
      GIT_COMMITTER_EMAIL: auto-sync@kudoai.com

    steps:

      - name: Checkout adamlui/userscripts
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.REPO_SYNC_PAT }}
          repository: adamlui/userscripts
          path: adamlui/userscripts

      - name: Checkout KudoAI/googlegpt
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.REPO_SYNC_PAT }}
          repository: KudoAI/googlegpt
          path: KudoAI/googlegpt

      - name: Checkout adamlui/chatgpt-apps
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.REPO_SYNC_PAT }}
          repository: adamlui/chatgpt-apps
          path: adamlui/chatgpt-apps

      - name: Sync docs to KudoAI/googlegpt/docs/ && adamlui/chatgpt-apps/googlegpt/docs/
        run: |
          cp -r -f -v \
            ${{ github.workspace }}/adamlui/userscripts/chatgpt/googlegpt/docs \
            ${{ github.workspace }}/KudoAI/googlegpt/
          cp -r -f -v \
            ${{ github.workspace }}/adamlui/userscripts/chatgpt/googlegpt/docs \
            ${{ github.workspace }}/adamlui/chatgpt-apps/googlegpt/

      - name: Sync chatgpt/googlegpt/ to KudoAI/googlegpt/greasemonkey/
        run: |
          rsync -avhr --delete \
            ${{ github.workspace }}/adamlui/userscripts/chatgpt/googlegpt/ \
            ${{ github.workspace }}/KudoAI/googlegpt/greasemonkey/

      - name: Sync chatgpt/googlegpt/ to adamlui/chatgpt-apps/googlegpt/greasemonkey/
        run: |
          rsync -avhr --delete \
            ${{ github.workspace }}/adamlui/userscripts/chatgpt/googlegpt/ \
            ${{ github.workspace }}/adamlui/chatgpt-apps/googlegpt/greasemonkey/

      - name: Escape backticks in commit msg
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          echo "ESCAPED_MSG<<EOF" >> $GITHUB_ENV
          echo "$COMMIT_MSG" | sed 's/`/\`/g' >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Push changes to KudoAI/googlegpt
        run: |
          cd ${{ github.workspace }}/KudoAI/googlegpt
          git add .
          git commit -n -m "$ESCAPED_MSG ↞ [auto-sync from \`adamlui/userscripts\`]" || true
          git push

      - name: Push changes to adamlui/chatgpt-apps
        run: |
          cd ${{ github.workspace }}/adamlui/chatgpt-apps
          git add .
          git commit -n -m "$ESCAPED_MSG ↞ [auto-sync from \`adamlui/userscripts/chatgpt/googlegpt\`]" || true
          git push
